* {	
	font-family: Lato;
}

body{margin:0;overflow: hidden;}

body > #container {
    font-size: 16px;
	background-color: #303030;
    width: 100vw;
    height: 100vh;
    font-size: 0;
}

#top{
 
}

#bottom{

}